<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.LunboMapper">

    <select id="findPage" resultType="com.example.springboot.entity.Lunbo">
        select lunbo.*
        from lunbo
        <where>
            <if test="name !=null and name != ''">
                and product_name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
